---
layout: page
---

<div class="post">
    <header class="post-header">
      <p class="post-meta">
        Tento príspevok bol uverejnený dňa: {{ page.date | date: "%-d. %b %Y" }}
      </p>

      {%if page.post_image %}
      <class="banner">
         <div class="banner-image" style="height: 300px; width: 600px; margin-top:-10px; margin-bottom:30px; background-image: url({{page.post_image}})")>
         </div>
      </class>
      {% endif %}
    </header>

    <div class="post-content">
      {{ content }}

      <hr align="left" width="20%">
      <i>Celkový počet slov: {{page.content | number_of_words}}</i>
    </div>
</div>
